
module my-rtkitdaemon 1.0;

require {
	type rtkit_daemon_t;
	class cap_userns sys_ptrace;
}

#============= rtkit_daemon_t ==============
allow rtkit_daemon_t self:cap_userns sys_ptrace;
